node-red/flows.json
[{"id":"f49d3c1d641f1903","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"fb36e8f9d2fe50a2","type":"tab","label":"Photovoltaik","disabled":false,"info":"","env":[]},{"id":"633d3d48.2c3124","type":"server","name":"Home Assistant","addon":true},{"id":"980badc236048faa","type":"mqtt-broker","name":"","broker":"192.168.10.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"923b11374acf2d80","type":"inject","z":"fb36e8f9d2fe50a2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":60,"wires":[["3d1fe51113758863"]]},{"id":"3d1fe51113758863","type":"http request","z":"fb36e8f9d2fe50a2","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.50.11/measurements.xml","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":310,"y":60,"wires":[["67e235053c7917ee"]]},{"id":"6ae3e2a4d3793bfb","type":"mqtt out","z":"fb36e8f9d2fe50a2","name":"","topic":"power/inverter/piko","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"980badc236048faa","x":810,"y":100,"wires":[]},{"id":"67e235053c7917ee","type":"xml","z":"fb36e8f9d2fe50a2","name":"","property":"payload","attr":"","chr":"","x":470,"y":60,"wires":[["7a1eb0868e05be3e"]]},{"id":"7a1eb0868e05be3e","type":"function","z":"fb36e8f9d2fe50a2","name":"","func":"msg = parseInt(msg.payload.root.Device[0].Measurements[0].Measurement[3].$.Value)\n \nvar payload = JSON.stringify(msg);\n//payload = parseInt(payload);\nnode.send({payload});","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":60,"wires":[["24d77f97ffb68736","6ae3e2a4d3793bfb"]]},{"id":"24d77f97ffb68736","type":"debug","z":"fb36e8f9d2fe50a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":60,"wires":[]}]